@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Goldman', sans-serif;
  background-color: rgb(255, 218, 120);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: rgb(0, 50, 133);
  font-size: 3rem;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(255, 127, 62);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(42, 98, 154);
}

#fetchJoke {
  margin-bottom: 20px;
}

.joke-div {
  display: flex;
  justify-content: center;
  width: 80%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;

}

li {
  font-size: 20px;
  color: #333;
  list-style: none;
  width: 80%;
  margin-bottom: 20px;
}

.eliminarChiste {
  position: relative;
  bottom: 12px;
  color: #333;
  margin-left: 8px;
  width: 20px;
  height: 25px;
  padding-left: 7px;
  padding-top: 7px;
}

.eliminarChiste:hover {
  background-color: rgb(255, 127, 62);
  color: #333;
}


.oculto {
  display: none;
}


